@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;600;700;800;900&display=swap");

:root {
  --scale-till: 0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(244, 244, 244);
  overflow-x: hidden;
  min-height: 100vh;
  margin: 0 auto;
  font-family: "Rubik", sans-serif;
}

main {
  overflow-x: hidden;
}