@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1400px;
  min-height: 100vh;
  margin: 0 auto;
}
nav p{
  font-family: 'Faster One', cursive;

}
